.feedContainer{
    flex: 6;
    padding: 20px;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }

::-webkit-scrollbar-thumb {
 background: rgb(184, 184, 184); 
}

::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }