.postContainer{
    margin-top: 20px;
    -webkit-box-shadow: 3px -3px 28px -5px rgba(194,190,194,1);
    -moz-box-shadow: 3px -3px 28px -5px rgba(194,190,194,1);
    box-shadow: 3px -3px 28px -5px rgba(194,190,194,1);
}

.postProfileImg{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

}

.postTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.postTopLeft{
    display: flex;
    align-items: center;
}

.postTopRight{
    cursor: pointer;
}

.postDate{
    margin-left: 10px;
    font-size: 13px;
}

.postUsername{
    font-weight: 500;
    cursor: pointer;
}

.postImg{
    margin-top: 7px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postCaption{
    padding: 10px;
}

.likeIcon{
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomRight{
    margin-right: 20px;
}

@media screen and (max-width: 700px){
    .postBottom{
        font-size: small;
    }

    .postUsername{
        font-size: small;
    }

    .postDate{
        font-size: 10px;
    }

    .postCaption{
        font-size: 14px;
    }

    .postProfileImg{
        width: 32px;
        height: 32px;
        padding: 10px 10px 3px 10px;

    
    }
}